* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 0.5em;
    height: 4em;
    background: linear-gradient(90deg, rgba(40, 80, 209, 1) 100%, rgba(46, 89, 226, 1) 100%);
}

.logo{
    width: 4%;
    padding-left: 1em;
}

.menu {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 95%;
    font-size: 120%;
}

.botao {
    padding: 4px 8px;
    color: #fff;
}

.botao:hover {
    background-color: #fff;
    color: #2850D1;
    border-radius: 4px 16px;
}

#home {
    width: 85%;
    margin: auto;
    min-height: 91vh;
}

.cabecalho {
    padding: 2% 0;
}

.subtitulo {
    color: #999999;
}

.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 10%;
    width: 100%;
}

.card {
    width: 24%;
    height: 380px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("/img/codigo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding-bottom: 2%;
    margin-bottom: 2%;
}

.conteudoCard {
    text-align: justify;  
    color: white;
    width: 80%;
}

.conteudoCard>h2 {
    font-size: 120%;
}

.conteudoCard>p {
    font-style: normal;
    font-weight: 300;
    font-size: 90%;
    margin-bottom: 1rem;
}

.botaoMais {
    display: block;
    text-align: center;
    color: white;
    width: 85%;
    padding: 5% 8%;
    background-color: #2850D1;
    border-radius: 4px 16px;
}

.botaoMais:hover {
    background-color: #fff;
    color: #2850D1;
}

#contato {
    background-color: #2850D1;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.conteudoContato{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cabecalhoContato {
    width: 100%;
    margin-bottom: 6%;
    color: #fff;
    text-align: end;
    align-self: flex-end;
}

.formularioContato {
    width: 100%;
    border-radius: 16px 48px;
    background-color: #fff;
    padding-bottom: 1em;
}

.dados {
    padding: 3% 3% 0 3%;
}

.primeiraLinha,
.segundaLinha,
.terceiraLinha {
    width: 100%;
    display: flex;
    align-content: center;
    flex-direction: row;
    margin-bottom: 1em;
}

.primeiraLinha>section,
.segundaLinha>section {
    width: 50%;
    display: block;
}
.terceiraLinha>section {
    width: 100%;
    display: block;
}

.primeiraLinha>section.nome,
.segundaLinha>section.email {
    margin-right: 1em;
}

input[type=text],
input[type=email] {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #2850D1;
    cursor: pointer;
}

#mensagem {
    resize: none;
    width: 100%; 
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #2850D1;
    cursor: pointer;
}

input[type=submit] {
    text-align: center;
    color: #fff;
    border: none;
    padding: 1% 3%;
    background-color: #2850D1;
    border-radius: 4px 16px;
}

textarea:focus,
input:focus,
select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    border-bottom: 2px solid #2850D1;
    outline: 0;
}

.botaoEnviar {
    display: flex;
    margin-left: auto;
    margin-right: 3%;
}

.botaoEnviar:hover {
    background-color: #fff;
    color: #2850D1;
    border: 0.5px solid #2850D1;
}

.rodape {
    background-color: #102156;
}

.logoExtenso {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 1%;
    margin-bottom: 1.5%;
}

.referencia {
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 4%;
    margin-right: 4%;
    padding-bottom: 1%;
}


/*Efeito do Menu*/
a .botao {
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -o-transition: 1s ease-in;
    transition: 0.2s ease-in;
}

 @media (max-width: 650px) {

    .logo{
        display: none;
    }
    .cards {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0;
        justify-content: center;
    }

    .card {
        margin: 0;
        margin-top: 5%;
        width: 75%;
    }

    .dados {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 40%;
    }

    .ladoA,
    .ladoB {
        margin: 0;
        width: 90%;
        align-content: center;
        flex-direction: row;
    }

    .ladoA {
        margin-bottom: 4%;
    }

    label {
        margin-bottom: 4%;
    }

    #labelMensagem {
        margin-top: 13%;
    }

    #labelMensagem,
    #mensagem {
        margin-left: 8%;
    }

    #mensagem {
        resize: none;
        width: 85%;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid #2850D1;
        cursor: pointer;
    }
} 